extends layout

include _includes/sharedHTMLfunctions

block content
  .row.banner
    .col-12
      h1= pageHeader.title
        small &nbsp;#{pageHeader.strapline}
  .row
    .col-12.col-md-8

      app-home-list Loading
        .card
          .card-block
            h4
              a(href='/location/${location._id}')= location.name
              small &nbsp;
                +outputRating(location.rating)
              
            p.album= location.album
            
                span.badge.badge-warning= facility

    .col-12.col-md-4
      p.lead= sidebar
	block scripts
      script(src='/build/runtime.es5.edb2fcf2778e7bf1d426.js')
      script(src='/build/polyfills.es5.6696c533341b95a3d617.js')
      script(src='/build/main-es5.2e963c03e58fab8bfdc7.js')
